/* LAYOUT */

:root{
    --teal: #1ABC9C;
    --dark-blue: #2C3E50;
    --footer: #3A546D;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul,ol,menu{
    list-style: none;
}

/* DIVIDER WITH STAR */

.star::after,
.star::before{
    content: "" ;
    display: inline-block;
    width:60px;
    height: 3px;
    background-color: currentColor;
    margin: 0 5px;
    vertical-align: middle;
    
}

@media screen and (min-width:768px) {
    .star::after,
    .star::before{
        width: 130px;
        margin: 0 30px;
    }
}

@media screen and (min-width:992px) {
    .star::after,
    .star::before{
        width: 170px;
    }
}

/* HEADER */

nav{
    color: white;
    background: var(--dark-blue);
}

/* MAIN */

/* HERO */
.hero{
    background-color: var(--teal);
    color: white;
}

.hero img{
    max-width: 200px;
}

/* ABOUT */

.about{
    color: white;
    background-color: var(--teal);
}

.about .container{
    padding: 0 70px;
}







