/* LAYOUT */

:root{
    --teal: #1ABC9C;
    --dark-blue: #2C3E50;
    --footer: #3A546D;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul,ol,menu{
    list-style: none;
}

/* HEADER */

nav{
    color: white;
    background: var(--dark-blue);
}

