/* RESET */
a{
    color: currentColor;
    text-decoration: none;
}

/* COLORS */
:root{
    --teal: #1ABC9C;
    --dark-blue: #2C3E50;
    --footer: #3A546D;
}

/* LAYOUT */

section h2{
    font-size:20px;
}

@media screen and (min-width:768px) {
    section h2{
        font-size: 30px;
    }
}

/* DIVIDER WITH STAR */

.star::after,
.star::before{
    content: "" ;
    display: inline-block;
    width:60px;
    height: 3px;
    background-color: currentColor;
    margin: 0 5px;
    vertical-align: middle;
    
}

@media screen and (min-width:768px) {
    .star::after,
    .star::before{
        width: 130px;
        margin: 0 30px;
    }
}

@media screen and (min-width:992px) {
    .star::after,
    .star::before{
        width: 170px;
    }
}

/* HEADER */

nav{
    color: white;
    background: var(--dark-blue);
}

.nav__cta{
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .nav__cta{
        font-size: 26px;
    }
}

/* MAIN */

/* HERO */
.hero{
    background-color: var(--teal);
    color: white;
}

.hero img{
    max-width: 200px;
}

h1{
    font-size: 30px;
}

.main__subtitle{
    font-size: 12px;
}

@media screen and (min-width:768px) {
    h1{
        font-size: 50px;
    }

    .main__subtitle{
        font-size: 16px;
    }
}

/* ABOUT */

.about{
    color: white;
    background-color: var(--teal);
}

.about .container{
    padding: 0 70px;
}

.about p{
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .about p{
        font-size: 16px;
    }
}

/* FOOTER */

/* FOOTER MAIN */

.footer__main{
    color: white;
    background-color: var(--footer);
    font-size: 14px;
}

.socials{
    border-radius: 50%;
    border: 1px solid currentColor;
    line-height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.creators{
    color: var(--teal);
}

@media screen and (min-width:768px) {
    .footer__main{
        font-size: 16px;
    }
    
    h6{
        font-size: 20px;
    }
    
}

/* COPYRIGHT */
.copyright{
    color: white;
    background-color: var(--dark-blue);
    font-size: 10px;
}

@media screen and (min-width:768px) {
    .copyright{
        font-size: 14px;
    }
}






